<footer>
<div class="two">
    <div class="quecoop">
        <img src="./img/logo2.svg" alt="">
        <div class="question">
            <p>По всем вопросам:</p>
            <p>teacherpro@mail.ru</p>
        </div>
    </div>
    <div class="nn">
        <div class="navi">
            <ul>
                <a href="/index">
                    <li>Главная</li>
                </a>
                <a href="/about_us">
                    <li>О нас</li>
                </a>
                <a href="/catalog">
                    <li>Каталог</li>
                </a>
                <a href="/addDevelopment">
                    <li>Ваши разработки</li>
                </a>
            </ul>
        </div>
        <div class="navi2">
            <ul>
                <li>Поддержка</li>
                <li>Вопросы</li>
                <li>Документация</li>
                <li>Сотрудничество</li>
            </ul>
        </div>
    </div>
    <div class="three">
        <img src="./img/vk.svg" alt="">
        <img src="./img/youtube.svg" alt="">
        <img src="./img/telegram.svg" alt="">
    </div>
</div>
</footer>