body {
  font-family: Geologica;
}

main {
  width: 1180px;
  margin: 0 auto;
  margin-top: 50px;
}

#tagsContainer h3 {
  font: var(--p);
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #555;
}

.form-group label {
  display: block;
  font: var(--p);
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 15px;
  color: #555;
}

.form-group select {
  display: inline;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font: 400 16px Geologica;
}

#tagsContainer .label {
  font: 400 16px Geologica;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.form-section button:hover {
  background-color: #0056b3;
}

.preview-container {
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
}

.preview-container img {
  max-width: 200px;
  max-height: 200px;
}

input[type="file"] {
  background-color: #eeecec;
  padding: 70px 140px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.toolbar label {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #bacce0;
  margin-bottom: 0;
  cursor: pointer;
}

::file-selector-button {
  height: 40px;
  border: none;
  background: #a1a1a1;
  padding: 20px 20px;
  border-radius: 5px;
  padding: 0 30px;
  margin: 0 auto;
  color: #fff;
  font: 400 12px Geologica;
  cursor: pointer;
  text-align: center;
}

.success-message {
  background: #dff0d8;
  color: #3c763d;
  padding: 15px;
  margin: 15px 0;
  border-radius: 4px;
}
.error-message {
  background: #f2dede;
  color: #a94442;
  padding: 15px;
  margin: 15px 0;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #5cb85c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.checkboxTags {
  display: flex;
  align-items: baseline;
}

#formAddDevelopment form {
  width: 1180px;
  margin: 0 auto;
}

#formAddDevelopment h3 {
  font: 400 24px Geologica;
  color: #7a66c9;
  margin-bottom: 30px;
}

#formAddDevelopment [type="text"] {
  width: 1150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font: var(--p);
  margin-bottom: 60px;
}

#formAddDevelopment button {
  width: 200px;
  height: 60px;
  border: none;
  background: var(--blue);
  padding: 20px 20px;
  border-radius: 10px;
  padding: 0 30px;
  color: #fff;
  font: 400 20px Geologica;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 40px;
}

#formAddDevelopment #tagCheckboxes {
  display: flex;
  gap: 15px;
}
.download {
  display: flex;
  width: 1180px;
  align-items: center;
  justify-content: space-between;
  border-style: dashed;
  margin-bottom: 60px;
}

.filePreviewContainer {
  display: flex;
  justify-content: space-between;
}

.fl {
  display: flex;
  width: 570px;
  height: 277px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px #9ca3af;
  border-style: dashed;
}

#developmentDescription {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  min-height: 150px;
  border-radius: 0 0 10px 10px;
  font: var(--p);
  margin-bottom: 30px;
}
.form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font: 400 16px Geologica;
}

.toolbar {
  background-color: #bacce0;
  padding: 10px 20px;
  display: flex;
  border-radius: 10px 10px 0 0;
}

.toolbar img {
  width: 30px;
}

.sb p {
  font: var(--p);
  margin-bottom: 30px;
}

.sb button {
  width: 230px;
  height: 60px;
  border: none;
  background: var(--blue);
  padding: 20px 20px;
  border-radius: 10px;
  padding: 0 30px;
  color: #fff;
  font: 400 20px Geologica;
  cursor: pointer;
  margin-bottom: 300px;
}

.sb button:hover {
  background: var(--blue);
  background: linear-gradient(90deg, #5b8dc8 0%, rgba(15, 31, 152, 1) 100%);
}
