<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://db.onlinewebfonts.com/c/4674c29fede917b1695c03e730aa503c?family=TraktorMoodFont"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/rest.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Загрузить новый ресурс</title>
    <link rel="icon" href="./img/iconlogo.ico">

</head>
<style>

body {
            font-family: Geologica;
        }

       #tagsContainer h3{
            font: var(--p);
            font-weight: 500;
            margin-bottom: 30px;
            margin-top: 30px;
            color: #555;
        }
.form-group label {
            display: block;
            font: var(--p);
            font-weight: 500;
            margin-bottom: 30px;
            margin-top: 15px;
            color: #555;
        }


        .form-group select {
            display: inline;
            padding: 10px;
            border: none;
            border-radius: 10px;
            font: 400 16px Geologica;
            
        }

        #tagsContainer .label{
            font: 400 16px Geologica;
        }
   
        .button-container{
            display: flex;
            justify-content: flex-end;
        }
  

        .form-section button:hover {
            background-color: #0056b3;
        }
        .preview-container {
            margin-top: 10px;
            max-width: 200px;
            max-height: 200px;
        }
        .preview-container img{
            max-width: 200px;
            max-height: 200px;
        }
        input[type="file" ]{

          background-color: #f4f4f4;
          padding:70px 140px;
          border-radius: 5px;
          margin-bottom: 30px;
 
        }
        .toolbar label {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #bacce0;
  margin-bottom: 0;
  cursor: pointer;
}
        ::file-selector-button {
        height: 40px;
        border: none;
        background: #a1a1a1;
        padding: 20px 20px;
        border-radius: 5px;
        padding: 0 30px;
        margin: 0 auto;
        color: #fff;
        font: 400 12px Geologica;
        cursor: pointer;
        text-align: center;
        }

     
</style>
<body>
    <header>
        <div class="logo"><a href="/index"><img src="./img/logo1.svg" alt=""></div></a>
        <div class="nav">
            <ul>
                <a href="/index">
                    <li>Главная</li>
                </a>
                <a href="/about_us">
                    <li>О нас</li>
                </a>
                <a href="/catalog">
                    <li>Каталог</li>
                </a>
            </ul>
        </div>
        <div class="navbt">
            <% if (user) { %>
                <% if (user.role === 'admin') { %>
                   <a href="/admin">
                    <li>Админ-панель</li> 
                   </a>
                <% } else { %>
                    <a href="/profile">
                        <img src="./img/lk.svg" alt="">
                    </a>
                <% } %>
            <% } else { %>
                  <a href="/login">
                    <li>Авторизация/Регистрация</li> 
                </a>
           <% } %>
            <form action="/addDevelopment">
                <button>+ Новый материал</button>
            </form>
        </div>
    </header>
    <section20>
    <h2>Поделитесь своей образовательной разработкой </h2>
    <form id="addDevelopmentForm" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="developmentTitle">Название разработки:</label>
            <input type="text" id="developmentTitle" name="title" placeholder="Например, презентация на тему «История России» для 5 класса" required>
       </div>
     
       <div class="form-group">
           <label for="developmentDescription">Описание:</label>
    
    <div class="toolbar">
        

        <label onclick="formatText('bold')"><b><img src="./img/bold.svg" alt=""></b></label>
        <label onclick="formatText('italic')"><i><img src="./img/italic.svg" alt=""></i></label>
        <label onclick="formatText('underline')"><u><img src="./img/underline.svg" alt=""></u></label>
        <label onclick="insertLink()"><img src="./img/link.svg" alt=""></label>
        <label onclick="insertOrderedList()"><img src="./img/list-numbers.svg" alt=""></label>
        <label onclick="insertUnorderedList()"><img src="./img/list.svg" alt=""></label>
        <label onclick="undo()"><img src="./img/undo.svg" alt=""></label>
        <label onclick="redo()"><img src="./img/redo.svg" alt=""></label>
  </div>
           <textarea id="developmentDescription" name="description" rows="4"></textarea>
       </div>
        <div class="form-group">
            <label for="developmentFile">Файл разработки:</label>
            <input type="file" id="developmentFile" name="file_path" accept=".pdf,.docx,.pptx,.mp4" required>
        </div>
       <div class="form-group">
           <label for="developmentPreview">Превью:</label>
            <input type="file"  id="developmentPreview" name="preview" accept=".jpg,.jpeg,.png"  required onchange="previewImage(event)">
        </div>
       <div class="preview-container">
           <img id="preview-img" src="#" alt="Превью" style="display:none;">
       </div>
       <div class="form-group">
          <label for="developmentCategoryId">Категория:</label>
            <select id="developmentCategoryId" name="category_id" required></select>
       </div>
       <div id="tagsContainer"></div>
      <div id="errorContainer" class="error-message"></div>
      <button type="submit">Загрузить</button>
  </form>
    <div id="developmentMessage"></div>
</section20>

<footer>
</div>
<div class="two">
    <div class="quecoop">
        <img src="./img/logo2.svg" alt="">
        <div class="question">
            <p>По всем вопросам:</p>
            <p>teacherpro@mail.ru</p>
        </div>
    </div>
    <div class="nn">
        <div class="navi">
            <ul>
                <a href="/index">
                    <li>Главная</li>
                </a>
                <a href="/about_us">
                    <li>О нас</li>
                </a>
                <a href="/catalog">
                    <li>Каталог</li>
                </a>
                <a href="/addDevelopment">
                    <li>Ваши разработки</li>
                </a>
            </ul>
        </div>
        <div class="navi2">
            <ul>
                <li>Поддержка</li>
                <li>Вопросы</li>
                <li>Документация</li>
                <li>Сотрудничество</li>
            </ul>
        </div>
    </div>
    <div class="three">
        <img src="./img/vk.svg" alt="">
        <img src="./img/youtube.svg" alt="">
        <img src="./img/telegram.svg" alt="">
    </div>
</div>
</footer>

   <script>
    const categorySelect = document.getElementById('developmentCategoryId');
    const tagCheckboxes = document.getElementById('tagCheckboxes');
    const previewImg = document.getElementById('preview-img');
 async function fetchCategories() {
        try {
            const response = await fetch('/user/categories');
           if (!response.ok) {
               throw new Error('Failed to fetch categories');
            }
            const categories = await response.json();
            categories.forEach(category => {
                const option = document.createElement('option');
                option.value = category.id;
                 option.text = category.name;
                categorySelect.appendChild(option);
            });
        } catch (error) {
            console.error('Ошибка при получении категорий:', error);
        }
 }
   fetchCategories();
   document.getElementById('addDevelopmentForm').addEventListener('submit', async function(event) {
   event.preventDefault();
   document.getElementById('errorContainer').textContent = '';
     const formData = new FormData(this);
        try {
            const response = await fetch('/user/add/development/step1', {
               method: 'POST',
               body: formData,
          });
            if (!response.ok) {
               const errorData = await response.json();
              throw new Error(errorData.error || `HTTP error! status: ${response.status}`);
            }
           const data = await response.json();
             if (data.success) {
                document.getElementById('tagsContainer').innerHTML = data.tagsHtml;
                this.action = `/user/add/development/step2/${data.developmentId}`;
                this.removeEventListener('submit', arguments.callee);
                this.addEventListener('submit', async function (event) {
                   event.preventDefault();
                    const formData2 = new FormData(this);
                  try {
                    const response2 = await fetch(this.action, {
                      method: 'POST',
                      body: formData2,
                 });
                     if (!response2.ok) {
                          const errorData2 = await response2.json();
                         throw new Error(errorData2.error || `HTTP error! status: ${response2.status}`);
                     }
                     const data2 = await response2.json();
                      if(data2.success) {
                            window.location.href = "/profile";
                      }
                 } catch (error) {
                       console.error('Ошибка при добавлении разработки:', error);
                      document.getElementById('errorContainer').textContent = error.message;
                   }
               });
             } else {
                   document.getElementById('errorContainer').textContent =  data.error
            }
        } catch (error) {
            console.error('Ошибка при добавлении разработки:', error);
            document.getElementById('errorContainer').textContent = error.message;
        }
     });
 function previewImage(event) {
    const file = event.target.files[0];
     if (file) {
         previewImg.src = URL.createObjectURL(file);
       previewImg.style.display = 'block';
     } else {
          previewImg.style.display = 'none';
          previewImg.src = '#';
        }
 }
 
    </script>

</body>

</html>