<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
        <title>Восстановление пароля</title>
        <link rel="icon" href="./img/iconlogo.ico">
    </head>
    <style>
        body {
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
            background-color: #eeeadf;
            margin: 0;
        }

        .form-container {
            background-color: #fefefe;
            padding: 40px;
            border-radius: 10px;
            width: 643px;
            height: auto;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        h1 {
            font:  600 32px Geologica;
            text-align: center;
            margin-bottom: 60px;
            color: #200E49;
        }

        .input-group {
            margin-bottom: 20px;
            text-align: center;
        }

        .input-group input[type="email"] {
            width: 370px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 5px;
            box-sizing: border-box;
            font: 200 15px Geologica;
        }

        .input-group input[type="email"].invalid {
            border-color: red;
        }

        .error {
            color: red;
            margin-bottom: 5px;
            display: block;
            font: 200 14px Geologica;
        }

        .success {
            color: green;
            margin-bottom: 5px;
            display: block;
            font: 200 14px Geologica;
        }

        input[type="submit"] {
            width:fit-content;
            height:fit-content;
            padding: 20px;
            background-color: #5b8dc8;
            border: none;
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
            font:  400 14px Geologica;
            color: rgb(255, 255, 255);
            margin-top: 30px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .auth-link {
            text-align: center;
            margin-top: 30px;
            font-size: 0.9em;
            font: 200 15px Geologica;
        }
        .close {
            color: #606060;
            float: left;
            font: 200 14px Geologica;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
<body>
    <div class="form-container">
        <a href="/index"><span class="close" id="closeConfirm">← На главную</span></a>
        <h1>Восстановление пароля</h1>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <% if (success) { %>
            <p class="success"><%= success %></p>
        <% } %>
        <form method="post" action="/forgot-password">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Введите ваш email" required>
            </div>
            <input type="submit" value="Отправить ссылку для сброса">
        </form>
        <div class="auth-link">
            <p>Вспомнили пароль? <a href="/login">Войти</a></p>
        </div>
    </div>
</body>
</html>