<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="./css/rest.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>УчительPRO: Главная</title>
    <link rel="icon" href="./img/iconlogo.ico">
</head>
<style>
    /* Стили для всплывающего сообщения снизу */
    .bottom-message {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50; /* Зеленый фон по умолчанию */
        color: white;
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 1000; /* Чтобы быть поверх всего */
        display: none; /* Скрыто по умолчанию */
        transition: opacity 0.5s ease-in-out;
    }
    .bottom-message.error {
      background-color: #f44336; /* Красный фон для ошибок */
    }
    </style>
<body>    <%- include('partials/header', {user: user}) %>
    <main>


    <section id="slider">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="slick/slick.min.js"></script>
        <script src="script.js"></script>
        <div class="slider">
            <a href="/addDevelopment">
                <div class="slide" style="background-image: url('./img/slider1.png');"></div>
            </a>
            <a href="/catalog">
                <div class="slide" style="background-image: url('./img/slider2.gif');"></div>
            </a>
            <a href="/addDevelopment">
                <div class="slide" style="background-image: url('./img/slider3.png');"></div>
            </a>
        </div>
        <button class="arrow prev">&#10094;</button>
        <button class="arrow next">&#10095;</button>
    </section>
    <section>
        <h2>Что делает <b>УчительPRO </b>особенным?</h2>
        <div class="pro">
            <div class="pro1">
                <img src="./img/star.svg" alt="">
                <h3>Создайте идеальные уроки</h3>
                <p>Организуйте свой учебный материал, расписание и используйте готовые нароботки
                </p>
            </div>
            <div class="pro1">
                <img src="./img/star.svg" alt="">
                <h3>Сэкономьте время и деньги</h3>
                <p>Создавайте собственные учебные материалы и делитесь с другим учителям на платформе
                </p>
            </div>
            <div class="pro1">
                <img src="./img/star.svg" alt="">
                <h3>Учитесь и развивайтесь</h3>
                <p>Получайте доступ к готовым проектам учителей и бесплатным ресурсам
                </p>
            </div>
        </div>
    </section>
    <section id="papka">
            <div class="txtblock">
                <h3>Вы всегда готовитесь к занятиям?</h3>
                <p>Может, вы делаете презентации, конспекты уроков или тесты для своих учеников?</p>
                <p>Если да, то загрузите эти материалы на наш сайт и поделитесь своим опытом с коллегами.</p>
                <form action="/addDevelopment"><button>Загрузить разработку</button></form>
            </div>
    </section>

    <section id="sub">
            <h2>Оставайтесь с нами на связи</h2>
            <p>Оставьте свой email и мы будем оповещать Вас о новых разработках и мероприятиях!</p>
            <img src="./img/Paper Plane.png" alt="Бумажный самолётик" width="81" height="81">
            <div class="form">
              <form id="subscriptionForm">
                    <input type="email" name="email" id="emailInput" placeholder="Введите email" required>
                  <button type="submit">Подписаться</button>
                </form>
            </div>
    </section>

<!-- Всплывающее сообщение снизу -->
<div id="bottomMessage" class="bottom-message"></div>

    <section id="whatUs">
            <h2>Кому нужны методические разработки</h2>
            <div class="imguser">
                <img src="./img/woman-teacher.svg" alt="" width="140" height="210">
                <img src="./img/woman-student.svg" alt="" width="140" height="210">
                <img src="./img/person-feeding.svg" alt="" width="140" height="210">
                <img src="./img/land.svg" alt="" width="140" height="210">
            </div>
    </section>
    <section id="plan">
            <h2>Посмотрите, как другие учителя планируют уроки</h2>
            <div class="urok">
                <div class="tema">
                    <a href="/catalog">
                        <p>Чек-лист тем ЕГЭ-2025</p>
                    </a>
                    <p class="pred">Английский язык</p>
                </div>
                <p class="eye">1023 просмотра</p>
            </div>
            <div class="urok">
                <div class="tema">
                    <a href="/catalog">
                        <p>План урока по дисциплине</p>
                    </a>
                    <p class="pred">Труд</p>
                </div>
                <p class="eye">593 просмотра</p>
            </div>
            <div class="urok">
                <div class="tema">
                    <a href="/catalog">
                        <p>Входная контрольная работа по математике</p>
                    </a>
                    <p class="pred">Алгебра</p>
                </div>
                <p class="eye">2304 просмотра</p>
            </div>
            <div class="urok">
                <div class="tema">
                    <a href="/catalog">
                        <p>Чек - лист для подготовки к ОГЭ</p>
                    </a>
                    <p class="pred">Математика</p>
                </div>
                <p class="eye">4663 просмотра</p>
            </div>
            <div class="urok">
                <div class="tema">
                    <a href="/catalog">
                        <p>План - конспект. Наука о планете Земля</p>
                    </a>
                    <p class="pred">География</p>
                </div>
                <p class="eye">2312 просмотра</p>
            </div>
    </section>

</main>    
<%- include('partials/footer') %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const subscriptionForm = document.getElementById('subscriptionForm');
            const emailInput = document.getElementById('emailInput');
            const bottomMessage = document.getElementById('bottomMessage');
        
            subscriptionForm.addEventListener('submit', async function(event) {
                event.preventDefault();
                const email = emailInput.value;
        
                try {
                    const response = await fetch('/subscribe', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ email: email })
                    });
        
                    const data = await response.json();
                    bottomMessage.textContent = data.message;
                    bottomMessage.classList.remove('error');
                    bottomMessage.style.backgroundColor = '#4CAF50'; // Зеленый цвет успеха
                    bottomMessage.style.display = 'block';
        
                     setTimeout(() => {
                        bottomMessage.style.opacity = '0';
                        setTimeout(() => {
                            bottomMessage.style.display = 'none';
                            bottomMessage.style.opacity = '1'; 
                        }, 500);
                    }, 3000);
        
                } catch (error) {
                    console.error('Ошибка при подписке:', error);
                    bottomMessage.textContent = "Ошибка сервера";
                    bottomMessage.classList.add('error');
                    bottomMessage.style.backgroundColor = '#f44336'; // Красный цвет ошибки
                    bottomMessage.style.display = 'block';
                   setTimeout(() => {
                        bottomMessage.style.opacity = '0';
                        setTimeout(() => {
                            bottomMessage.style.display = 'none';
                            bottomMessage.style.opacity = '1'; 
                        }, 500); // Соответствует времени transition
                    }, 3000);
                }
                emailInput.value = '';
            });
        });
        </script>
</body>

</html>