<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
        <title>Авторизация</title>
        <link rel="icon" href="./img/iconlogo.ico">
    </head>
      <style>
        body {
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
            background-color: #eeeadf;
            margin: 0;
        }

        .form-container {
            background-color: #fefefe;
            padding: 40px;
            border-radius: 10px;
            width: 643px;
            height: 404px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        h1 {
            font:  600 32px Geologica;
            text-align: center;
            margin-bottom: 60px;
            color: #200E49;
        }

       
        .password {
	width: 100%;
	margin: 15px auto;
	position: relative;
    padding: 5px 0;
	height: 30px;
	line-height: 40px;
	text-indent: 10px;
	margin: 0 0 15px 0;
	border-radius: 5px;
	border: 1px solid #999;
	font-size: 18px;
}

.password-control {
	position: absolute;
	top: 9px;
    right: 155px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M3 13c3.6-8 14.4-8 18 0'/%3E%3Cpath d='M12 17a3 3 0 1 1 0-6a3 3 0 0 1 0 6'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
}
.password-control.view {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23363636' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M3 13c3.6-8 14.4-8 18 0'/%3E%3Cpath fill='%23363636' d='M12 17a3 3 0 1 1 0-6a3 3 0 0 1 0 6'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
}
        .input-group input[type="email"],
        .input-group input[type="password"],
        .input-group input[type="text"] {
            width: 370px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 5px;
            box-sizing: border-box;
            font: 200 15px Geologica;
        }
         .input-group .password-container{
            position: relative;
         }


         .input-group input[type="text"].invalid,
         .input-group input[type="email"].invalid,
         .input-group .password-container input[type="password"].invalid{
            border-color: red;
        }

        
        .input-group {
            margin-bottom: 20px;
            text-align: center;
        }

        .input-group input[type="email"].invalid,
          .input-group .password-container input[type="password"].invalid{
            border-color: red;
        }


        .error {
            color: red;
            margin-bottom: 5px;
            display: block;
            font: 200 14px Geologica;
        }

        input[type="submit"] {
            width:fit-content;
            height:fit-content;
            padding: 20px;
            background-color: #5b8dc8;
            border: none;
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
            font:  400 14px Geologica;
            color: rgb(255, 255, 255);
            margin-top: 30px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .auth-link {
            text-align: center;
           margin-top: 30px;
           font-size: 0.9em;
           font: 200 15px Geologica;
        }
         .password-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            user-select: none;
        }
        .close {
  color: #606060;
  float: left;
  font: 200 14px Geologica;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


    </style>
<body>
<div class="form-container">
    <a href="/index"><span class="close" id="closeConfirm">← На главную</span></a>
    <h1>Авторизация</h1>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <form method="post" action="/login">
           <div class="input-group">
             <input type="email" id="email" name="email" placeholder="Введите почту" required
              <% if (error && error.includes('Неверный email')) {%> class = "invalid" <%}%>>
           </div>
             <div class="input-group">
              <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Введите пароль" required
                <% if (error && error.includes('Неверный пароль')) {%> class = "invalid" <%}%>>
                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
              </div>
             </div>
             <input type="submit" value="Авторизироваться">
        </form>
        <div class="auth-link">
        <p>Ещё нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
        </div>
    </div>
      <script>
     function show_hide_password(target){
	const input = document.getElementById('password');
	if (input.getAttribute('type') == 'password') {
		target.classList.add('view');
		input.setAttribute('type', 'text');
	} else {
		target.classList.remove('view');
		input.setAttribute('type', 'password');
	}
	return false;
}
</script>
</body>
</html>